body {
  margin: 0;
  padding: 0;
  background-color: #ded9dd;
  color: #3a3846;
  font-size: 10px;
}

header {
  height: 20px;
  background-color: #639a88;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  display: inline;
}

ol {
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 500px;
  float: left;
  padding: 2rem;
}

li {
  padding: 2rem;
  font-size: 19px;
  display: block;
}

h2{
  font-size: 20px;
}

nav.mainbar{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 140px;
  background-color: #fed3be;
  border: ridge;
  border-color: #3a3846;
  text-align: right;
  float: right;
}